// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.signup{
  display: inline-block;
  width: 100%;
  background-color: rgba(255, 165, 0, 0.1);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 15px;
}

.signup div {
  margin: 15px 0px 15px 0;
  font-size: 14px;
  color: rgb(255, 165, 0);
}
